body{
    text-align: center;
    padding: 0px;
}
.login {
   
    height: 370px;
    width: 350px;
    margin-left: 50%;
    text-align: center;
    border:0.1px solid;
    margin-top: 5%;
}
    

img{
    width: 90px;
    height: 90px;
}
p{
    text-align: center;
}
hr{
    color: #d2d6de;
    
}